{%- liquid

  case settings.product_image_size
    when 'natural'
      assign aspect_ratio = 'natural'
    when 'square'
      assign aspect_ratio = 'square'
    when 'landscape'
      assign aspect_ratio = 'landscape'
    when 'portrait'
      assign aspect_ratio = 'portrait'
  endcase

-%}
{%- liquid

  assign artist_name =  product.metafields.Instructor.name.value
  assign artist_handle = product.metafields.Instructor.name.value | downcase | replace: ' ', '-'
  assign workshop_tags = product.metafields.my_fields.workshop_tags.value | split: ", " 
  assign workshop_dates = product.metafields.workshop.date.value
-%}



<div class="ci">
  {% if product.available %}
  {% for col in product.collections %}
    {% if col.handle == 'new' %}
      <div class="new icn">{{ 'products.general.new' | t }}</div>
    {% endif %}
  {% endfor %}

  {% if product.price < product.compare_at_price %}
    <div class="sale-item icn">{{ 'products.general.sale' | t }}</div>
  {% endif %}

{% else %}
  <div class="so icn">{{ 'products.general.sold' | t }}</div>
{% endif %}

  {% comment %} <div class="prod-image image_{{ aspect_ratio }}">
    {% if product.featured_media %}
      <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
        <div class="reveal">
          {%- assign preview_image = product.featured_media.preview_image -%}
          {% render "basic-responsive-image", type: preview_image, data_widths: '[180, 360, 540, 720, 900, 1080]' %}
          <noscript>
            <img src="{{ product.featured_media.preview_image | img_url: '1024x' }}" alt="{{ product.featured_media.preview_image.alt | escape }}">
          </noscript>

          {% if settings.image_flip and product.media.size > 1 %}
            <div class="hidden">
              <img class="lazyload lazyload-fade"
                id="{{ preview_image.id }}"
                data-src="{{ product.media[1] | img_url: '1024x' }}"
                data-sizes="auto"
                alt="{{ preview_image.alt | escape }}">
              <noscript>
                <img src="{{ product.media[1] | img_url: '1024x' }}" alt="{{ product.media[1].alt | escape }}">
              </noscript>
            </div>
          {% endif %}
        </div>
      </a>
    {%- else -%}
      <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
        <div class="box-ratio" style="padding-bottom: 100%;">
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      </a>
    {%- endif -%}
    {% if settings.quickview %}
        <button class="quick-view-{{ product.id }} product-listing__quickview-trigger js-modal-open js-quickview-trigger" type="button" name="button"
        data-wau-modal-target="quickview"
        data-product-url="/products/{{ product.handle }}?view=quick">
        {% render 'snip-icons',
         wrapper: '.product-listing__quickview-trigger',
         type: 'icon-theme',
         icon: 'search',
         classes: 'vib-center',
         size: '18px',
         fill: 'var(--button-text)',
         hover: 'var(--button-text)' %}
        </button>
    {% endif %}
  </div> {% endcomment %}
  <a class="workshop-hyperlinks" title="{{ product.title }}" href="{{ product.url }}"><div class="workshop-product-container">

    <div class="workshop-image" style=' background-image: url({{ product.images[1] | image_url: height: 600 }});'>
        <div class="workshop-tags">
        
          {% if  product.metafields.workshop.type != blank and product.metafields.workshop.type == 'In Person' %}
            <div class=tag>Offline Workshop</div>
          {% endif %}

          {% if product.metafields.workshop.difficulty_level != blank %}
            <div class=tag>{{ product.metafields.workshop.difficulty_level }}</div>
          {% endif %}

          {% if  product.metafields.workshop.materials_included != blank and product.metafields.workshop.materials_included == true %}
            <div class=tag>Materials Included</div>
          {% endif %}
        </div>
    </div>

    <div class="workshop-info">
        <div class="workshop-title">
            <h3 style="color: white !important;">{{ product.title }}</h3>
        </div>

        <div class="workshop-dates">
          {% if workshop_dates.size > 1 %}
            From 
          {% endif %}
          {{ workshop_dates[0] | date: "%I:%M %p, %a, %b %e %Y, " }}
        </div>

        <div class="aartist">
          {% if collections[artist_handle] != blank %}
            <img  loading="lazy" class="aartist-image" style="" height="300" width="300" class="container__image" src="{{ collections[artist_handle] | image_url: height: 150 }}">
          {% else %}
            <img  loading="lazy" class="aartist-image" style="" height="300" width="300" class="container__image" src="https://cdn.shopify.com/s/files/1/1194/1498/files/placeholder_image.jpg?v=1672304594">
          {% endif %}
            <span class="aartist-name"> {{ artist_name }} </span>                    
        </div>

        <button class="enroll-now" onclick='window.location.href="{{ product.url }}"'>Enroll Now</button>
    </div>
      
</div></a>
</div>

<style>
.workshop-hyperlinks{
  text-decoration: none;
  color: white; !important
  padding: 0;
}

.workshop-product-container {
  background: rgb(65,30,47);
  background: linear-gradient(180deg, rgba(244,203,40,100) 1%, rgba(65,30,47,1) 90%);
  width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 25px ;
  transition: width 1250ms, height 1500ms;
  margin-bottom: 15px;
}

.workshop-product-container:hover { 
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.workshop-image {
  background-color: gray;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  max-height: 50%;
  border-radius: 25px 25px 0 0;
}

.workshop-tags {
  width: 100%;
  height: 30.5vh;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  padding-top: 260px;
  padding-bottom: 1%;
  top: 33%;
  padding-left: 5px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  padding: 0 9px;
  margin-bottom: 2px;
  margin-right: 4px;
  border-radius: 17px;
  background-color: #411e2f;
  color: white;
  text-align: center;
  height: 32px;
}


.workshop-info {
  color: white !important;
  justify: left;
  height: 100%;
}

.workshop-title > h3 {
  padding: 0 10px 0px 10px; 
  margin-bottom: 7px;
  text-align: left; 
  color: white !important;
  margin-top: 6px;
  width: 97%;
  height: 65px;
  overflow: hidden;
}

.workshop-dates {
  height: 22px;
  padding: 0 10px 0px 10px; 
  color: #f4cb28;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 30px;
  font-weight: bolder;
}

.aartist {
  padding: 0px 10px 0px 10px; 
  display: flex;
  align-items:center;
  font-weight: bold;

}

.aartist-image {
  background-color: white;
  height: 12%;
  width: 12%;
  border-radius: 50px;
  margin-right: 8px;;
}

.aartist-name {
  color: white;
}

.workshop-enroll{
  height: 50px;
} 

.enroll-now {
  margin: 40px 0px 0px 0px;
  background-color: #f4cb28;
  color: white;
  font-weight: bolder;
  border-radius: 0 0 22px 22px;
  border-style: none;
  height: 55px;
  width: 100%;
  
}

.enroll-now:hover {
  cursor: pointer;
}

@media screen and (min-width: 741px) and (max-width: 980px){ 
.featured__collection-carousel .featured__collection-product {
    width: 50% !important;
}
}
@media screen and (max-width: 740px){ 
.featured__collection-carousel .featured__collection-product {
    width: 85% !important;
}
}
</style>


{% comment %} <div class="product-details">
  <div style="display: flex; flex-direction:column">
  <a href="{{ product.url | within: collection }}" class="js-product-details-link" style="height:70px">
     {% if settings.vendor %}
      <p class="h4">{{ product.vendor }}</p>
    {% endif %}
     <h3 style="font-weight: bold; text-align: left;" >{{ product.title }}</h3> 
    </a>
    <div style="margin-top: 5px;">
    <h4 id="product-details-instructor-name" style="display: inline; float: left; margin-bottom:0;"> {{ product.metafields.Instructor.name}} </h4>
    {% comment %} <h4 id="product-details-instructor-name" style="display: inline; float: right; margin-bottom:0; margin-right: 2px; max-width: 45%"> {{ product.metafields.artform.artfrom_name}} </h4> {% endcomment %}
    </div>
	{% for collection in product.collections %}
    	{% if collection.title == "MEMERAKI MASTERCLASSES" %}
    		<p class="product-details-masterclass-small-description">
    			{{ product.metafields.my_fields.masterclass_small_description }} 
    		</p>
    	{% break %}
    	{% endif %}
	{% endfor %}

    
  </div>
    
  {%comment %} 
  to add small description   
  {%endcomment %}
  

  {% unless product.template_suffix == 'not-for-sale' %}

  {% render 'product-price-listing', product: product %}

  {%- if settings.show_rating and product.metafields.reviews.rating.value != blank -%}
    <div class="product__section--rating-wrapper">
      {% liquid
        assign rating_decimal = 0
        assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
        if decimal >= 0.3 and decimal <= 0.7
          assign rating_decimal = 0.5
        elsif decimal > 0.7
          assign rating_decimal = 1
        endif
      %}
      <div class="product__section-rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
        <span aria-hidden="true" class="product__section-rating-star color-icon" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
      </div>
      <p class="product__section-rating-text caption">
        <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
      </p>
      <p class="product__section-rating-count caption">
        <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
        <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
      </p>
    </div>
  {%- endif -%}

  <div class="product_listing_options">
  {%- liquid

  if product.variants.size >= 1
     if settings.product_info == 'sizes' and product.available
       render 'show-sizes', product: product
     elsif settings.product_info == 'colors' and product.available
       render 'show-colors', product: product
     endif
   endif

  -%}

  {% if settings.product_info == 'add_to_cart' and settings.quickview == false %}
    {% render 'product-grid-add', product: product %}
  {% endif %}

  </div>
 {% endunless %}

</div> {% endcomment %}
