{%- liquid

  case settings.product_image_size
    when 'natural'
      assign aspect_ratio = 'natural'
    when 'square'
      assign aspect_ratio = 'square'
    when 'landscape'
      assign aspect_ratio = 'landscape'
    when 'portrait'
      assign aspect_ratio = 'portrait'
  endcase

-%}
{%- liquid

  assign artist_name =  product.metafields.Instructor.name.value
  assign artist_handle = product.metafields.Instructor.name.value | downcase | replace: ' ', '-'
  assign workshop_dates = product.metafields.workshop.date.value
-%}

{% comment %} Temporary code to show second picture for old workshosp {% endcomment %}
{%-liquid
  assign today = "now" | date: "%s"
  assign cutoff_date = 'Tuesday, January 31, 2023 at 12:00 am +0000' | date: '%s'

  if today > cutoff_date
    assign image_to_use = product.images[0]
  else
    if product.images[1] 
      assign image_to_use = product.images[1]
    else
      assign image_to_use = product.images[0]
    endif
  endif
-%}

<div class="ci">
  {% if product.available %}
  {% for col in product.collections %}
    {% if col.handle == 'new' %}
      <div class="new icn">{{ 'products.general.new' | t }}</div>
    {% endif %}
  {% endfor %}

  {% if product.price < product.compare_at_price %}
    <div class="sale-item icn">{{ 'products.general.sale' | t }}</div>
  {% endif %}

{% else %}
  <div class="so icn">{{ 'products.general.sold' | t }}</div>
{% endif %}


  <a class="workshop-hyperlinks" title="{{ product.title }}" href="{{ product.url }}"><div class="workshop-product-container">

    <div class="workshop-image" style=' background-image: url({{ image_to_use | image_url: height: 600 }});'>
        <div class="workshop-tags">
        
          {% if  product.metafields.workshop.type != blank and product.metafields.workshop.type == 'In Person' %}
            <div class=tag>
              {% if product.metafields.workshop.address != blank %}
                <img class="workshop-info-icons" loading="lazy" height='10' width='10' style="height: 16px; width: 16px; margin-right: 5px;" src = {{ "location1.png" | asset_url }} >
                {{ product.metafields.workshop.address | split: " " | last }}
              {% else %}
                In Person
              {% endif %}
            </div>
          {% endif %}

          {% if  product.metafields.workshop.materials_included != blank and product.metafields.workshop.materials_included == true %}
            <div class=tag>Materials Included</div>
          {% endif %}
        </div>
    </div>

    <div class="workshop-info">
        <div class="workshop-title">
            <h3 style="color: white !important;">{{ product.title }}</h3>
        </div>
        <div class="workshop-dates">
          
          {% if product.metafields.workshop.type == 'Recording' %}
            <img class="workshop-info-icons" loading="lazy" height='10' width='10' style="height: 20px; width: 20px; margin-left: 2px; margin-right: 5px;" src = {{ "lifetime1.png" | asset_url }} >
              <span style="">Workshop Recording</span><br>
          {% elsif product.metafields.workshop.type != 'Recording' %}
            {% if workshop_dates.size > 1 %} From {% endif %}
            {{ workshop_dates[0] | date: "%A %I:%M %p, %b %e %Y" }}
          {% endif %}
          
        </div>

        <div class="aartist">
          {% if collections[artist_handle] != blank %}
            <img  loading="lazy" class="aartist-image" style="" height="300" width="300" class="container__image" src="{{ collections[artist_handle] | image_url: height: 150 }}">
          {% else %}
            <img  loading="lazy" class="aartist-image" style="" height="300" width="300" class="container__image" src="https://cdn.shopify.com/s/files/1/1194/1498/files/placeholder_image.jpg?v=1672304594">
          {% endif %}
            <span class="aartist-name"> {{ artist_name }} </span>                    
        </div>

        <button class="enroll-now" onclick='window.location.href="{{ product.url }}"'>Enroll Now</button>
    </div>
      
</div></a>
</div>


<style>
.workshop-hyperlinks{
  text-decoration: none;
  color: white; !important
  padding: 0;
}

.workshop-product-container {
  background: rgb(65,30,47);
  background: linear-gradient(180deg, rgba(244,203,40,100) 1%, rgba(65,30,47,1) 90%);
  width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 25px ;
  transition: width 1250ms, height 1500ms;
  margin-bottom: 15px;
}

.workshop-product-container:hover { 
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.workshop-image {
  background-color: #dfdfdf;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  max-height: 50%;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-flow: column-reverse;
}

.workshop-tags {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-flow: wrap-reverse;
  width: 100%;
  overflow: hidden;
  padding-left: 5px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  padding: 0 9px;
  margin-bottom: 4px;
  margin-right: 4px;
  border-radius: 17px;
  background-color: #411e2f;
  color: white;
  text-align: center;
  height: 32px;
}


.workshop-info {
  color: white !important;
  justify: left;
  height: 100%;
}

.workshop-title > h3 {
  padding: 0 10px 0px 10px; 
  margin-bottom: 7px;
  text-align: left; 
  color: white !important;
  margin-top: 6px;
  width: 97%;
  height: 65px;
  overflow: hidden;
}

.workshop-dates {
  display: flex;
  align-items: center;
  height: 22px;
  padding: 0 10px 0px 10px; 
  color: #f4cb28;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: normal;
}

.aartist {
  padding: 0px 10px 0px 10px; 
  display: flex;
  align-items:center;
  font-weight: bold;

}

.aartist-image {
  background-color: white;
  height: 12%;
  width: 12%;
  border-radius: 50px;
  margin-right: 8px;;
}

.aartist-name {
  color: white;
}

.workshop-enroll{
  height: 50px;
} 

.enroll-now {
  margin: 40px 0px 0px 0px;
  background-color: #f4cb28;
  color: white;
  font-weight: bolder;
  border-radius: 0 0 22px 22px;
  border-style: none;
  height: 55px;
  width: 100%;
  
}

.enroll-now:hover {
  cursor: pointer;
}

@media screen and (min-width: 741px) and (max-width: 980px){ 
.featured__collection-carousel .featured__collection-product {
    width: 50% !important;
}
}
@media screen and (max-width: 740px){ 
.featured__collection-carousel .featured__collection-product {
    width: 85% !important;
}
}
</style>

