<div class="art-container">
  <h1 class="artist-name">{{section.settings.title}}</h1>
  {%- comment -%} <hr class="name-hr"> {%- endcomment -%}
  <div class="alphabet">
    <a href="#letter-a"><span>A</span></a>
    <a href="#letter-b"><span>B</span></a><a href="#letter-c"><span>C</span></a>
    <a href="#letter-d"><span>D</span></a><a href="#letter-e"><span>E</span></a>
    <a href="#letter-f"><span>F</span></a><a href="#letter-g"><span>G</span></a>
    <a href="#letter-h"><span>H</span></a><a href="#letter-i"><span>I</span></a>
    <a href="#letter-j"><span>J</span></a><a href="#letter-k"><span>K</span></a>
    <a href="#letter-l"><span>L</span></a><a href="#letter-m"><span>M</span></a>
    <a href="#letter-n"><span>N</span></a><a href="#letter-o"><span>O</span></a>
    <a href="#letter-p"><span>P</span></a><a href="#letter-q"><span>Q</span></a>
    <a href="#letter-r"><span>R</span></a><a href="#letter-s"><span>S</span></a>
    <a href="#letter-t"><span>T</span></a><a href="#letter-u"><span>U</span></a>
    <a href="#letter-v"><span>V</span></a><a href="#letter-w"><span>W</span></a>
    <a href="#letter-x"><span>X</span></a><a href="#letter-y"><span>Y</span></a>
    <a href="#letter-z"><span>Z</span></a>
</div>

{% assign array = section.blocks | map: 'settings' %}
{% assign collection_array = array | map: 'card_collection' | sort %}

{% for block in collection_array %}
  {%- comment -%} {{block}}<br> {%- endcomment -%}
{% endfor %} 

{% assign collection_size = collection_array | size %}
{% assign start_index = 0 %}


 
    <div class="art-row">
      <div class="art-col" >
       <a name="letter-a"><h3 >A</h3></a> 
        <hr>
        {% assign artist_data = collections['adarsh'] %}
        {% if collection_array[index].image != nil %}
            <div class="artist">
                {{ artist_data.image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {% endif %}
                <a class="artist-a" href="{{ artist_data.url }}">
                {{ artist_data.title }}
              </a>
            </div>
      </div>

      <div class="art-col">
        <a name="letter-b"><h3 >B</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "b" %}
            {%if collection_array[index].image !=nil%}
            <div class="artist">
                {{ collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {%endif%}
                <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="art-col">
        <a name="letter-c"><h3 >C</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "c" %}
            {%if collection_array[index].image !=nil%}
            <div class="artist">
                {{ collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {%endif%}
                <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
    </div>


    <div class="art-row">
      <div class="art-col">
        <a name="letter-d"><h3 >D</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "d" %}
            {%if collection_array[index].image !=nil%}
            <div class="artist">
                {{ collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {%endif%}
                <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
        
      </div>


      <div class="art-col">
        <a name="letter-e"><h3 >E</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "e" %}
            {%if collection_array[index].image !=nil%}
            <div class="artist">
                {{ collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {%endif%}
                <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>


      <div class="art-col">
        <a name="letter-f"><h3 >F</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "f" %}
            {%if collection_array[index].image !=nil%}
            <div class="artist">
                {{ collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {%endif%}
                <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
            
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
    </div>


    <div class="art-row">
      <div class="art-col">
        <a name="letter-g"><h3 >G</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "g" %}
            {%if collection_array[index].image !=nil%}
            <div class="artist">
                {{ collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {%endif%}
                <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="art-col">
        <a name="letter-h"><h3 >H</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "h" %}
            {%if collection_array[index].image !=nil%}
            <div class="artist">
                {{ collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {%endif%}
                <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="art-col">
        <a name="letter-i"><h3 >I</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "i" %}
            {%if collection_array[index].image !=nil%}
            <div class="artist">
                {{ collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {%endif%}
                <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="art-row">
      <div class="art-col">
        <a name="letter-j"><h3 >J</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "j" %}
            {%if collection_array[index].image !=nil%}
            <div class="artist">
                {{ collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {%endif%}
                <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="art-col">
        <a name="letter-k"><h3 >K</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "k" %}
            {%if collection_array[index].image !=nil%}
            <div class="artist">
                {{ collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {%endif%}
                <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="art-col">
        <a name="letter-l"><h3 >L</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "l" %}
            {%if collection_array[index].image !=nil%}
            <div class="artist">
                {{ collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {%endif%}
                <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}

      </div>
    </div>
    <div class="art-row">
      <div class="art-col">
        <a name="letter-m"><h3 >M</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "m" %}
            {%if collection_array[index].image !=nil%}
            <div class="artist">
                {{ collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {%endif%}
                <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="art-col">
        <a name="letter-n"><h3 >N</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "n" %}
            {%if collection_array[index].image !=nil%}
            <div class="artist">
                {{ collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {%endif%}
                <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="art-col">
        <a name="letter-o"><h3 >O</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "o" %}
            {%if collection_array[index].image !=nil%}
            <div class="artist">
                {{ collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              {%else%}
              <div class="artist">
                <div class="artist-img2" >
              </div>
                {%endif%}
                <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}

      </div>
    </div>
    <div class="art-row">
      <div class="art-col">
        <a name="letter-p"><h3 >P</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "p" %}
            <div class="artist">
                {{  collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="art-col">
        <a name="letter-q"><h3 >Q</h3></a> 

        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "q" %}
            <div class="artist">
                {{  collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="art-col">
        <a name="letter-r"><h3 >R</h3></a> 

        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "r" %}
            <div class="artist">
                {{  collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}

      </div>
    </div>
    <div class="art-row">
      <div class="art-col">
        <a name="letter-s"><h3 >S</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "s" %}
          
            <div class="artist">
                {{  collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="art-col">
        <a name="letter-t"><h3 >T</h3></a> 

        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "t" %}
            <div class="artist">
                {{  collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="art-col">
        <a name="letter-u"><h3 >U</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "u" %}
            <div class="artist">
                {{  collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}

      </div>
    </div>
    <div class="art-row">
      <div class="art-col">
        <a name="letter-v"><h3 >V</h3></a> 

        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "v" %}
          
            <div class="artist">
                {{  collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="art-col">
        <a name="letter-w"><h3 >W</h3></a> 

        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "w" %}
          
            <div class="artist">
                {{  collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="art-col">
        <a name="letter-x"><h3 >X</h3></a> 

        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "x" %}
            <div class="artist">
                {{  collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}

      </div>
    </div>

    <div class="art-row">
      <div class="art-col">
        <a name="letter-y"><h3 >Y</h3></a> 
        <hr>
        
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "y" %}
          
            <div class="artist">
                {{  collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="art-col">
        <a name="letter-z"><h3 >Z</h3></a> 
        <hr>
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "z" %}
          
            <div class="artist">
                {{  collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              <a class="artist-a" href="{{ collection_array[index].url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
    
  </div>



<style>
html{
  scroll-padding-top: 150px !important;
}
.art-container{
  display:flex;
  flex-direction:column;

  width: 100vw;
  padding: 0 232px;
}
.artist-name{
  color: black;
  text-align: center;
  margin-bottom: 20px;
}
.name-hr{
  border-top: 2px solid black;
  margin-left: 317px;
    margin-top: -20px;
    width: 85px;
    margin-bottom:20px ;
}
.alphabet{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.alphabet span{
  width: 30px;
  height: 30px;
  background-color: #44153F;
  color: white;
  border-radius: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin: 3px;
  cursor: pointer;

}

.alphabet span:hover{
  background-color: #f4cb28;
  color: #44153F;
  border-radius: 0px 10px 0px 10px;
  transition: all 0.5s ease-in-out;
}

.art-row{
  background-color: #fff;
  width:100%;
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0px 40px;
}
.art-col{
  flex: 1;

}


.artist{
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

hr{
  width: 200px;
}
.artist-img{
  height: 50px;
  width: 51px;
  border-radius: 0px 10px 0px 0px;
  object-fit: cover;
}
.artist-img2{
  height: 50px;
  width: 51px;
  border-radius: 0px 10px 0px 0px;
  object-fit: cover;
  background-color:#411e2f
}

.artist-a{
  margin: 10px;
  cursor: pointer;
}

.artist-a:hover{
  font-weight: bold;
}

@media only screen and (min-width: 350px) and (max-width: 400px) {
  .art-container{
    padding: 0px 1px;
  }
  .art-row{
    padding: 0px 16px;
  }
  hr{
    width: 320px;
  }
  .artist-img {
    height: 65px;
    width: 65px;
  }

  .artist-img2 {
    height: 65px;
    width: 65px;
  }
  .artist-a{
    font-size: 16px;
  }

}
@media only screen and (min-width: 410px) and (max-width: 500px){
  .art-container{
    padding: 0px 1px;
  }
  .art-row{
    padding: 0px 24px;
  }
  hr{
    width: 350px;
  }
  .artist-img {
    height: 65px;
    width: 65px;
  }

  .artist-img2 {
    height: 65px;
    width: 65px;
  }
  .artist-a{
    font-size: 16px;
  }

}
@media only screen and (min-width: 510px) and (max-width: 600px){
  .art-container{
    padding: 0px 1px;
  }
  .art-row{
    padding: 0px 24px;
  }
  hr{
    width: 200px;
  }
  .artist-img {
    height: 65px;
    width: 65px;
  }

  .artist-img2 {
    height: 65px;
    width: 65px;
  }
  .artist-a{
    font-size: 16px;
  }

}
@media (max-width: 1050px){
  .art-container{
    padding: 0px 1px;
  }
}

</style>



{% schema %}
  {
    "name": "Alphabetical list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }
    ],
    
    "blocks": [
       {
         "name": "Card",
         "type": "card",
         "settings": [
          {
            "type": "collection",
            "id": "card_collection",
            "label": "Collection"
          }
         ]
       }
    ],
    "presets":[
      {
        "name": "Alphabetical List",
        "settings": {
          "title": "Explore"
        }
      }
    ]
  }
{% endschema %}