<div class="art-container">
  <div class="alphabet">
    <a href="#letter-a" onclick="gotoSection(1)"><span>A</span></a>
    <span>B</span><span>C</span>
    <span>D</span><span>E</span>
    <span>F</span><span>G</span>
    <span>H</span><span>I</span>
    <span>J</span><span>K</span>
    <span>L</span><span>M</span>
    <span>N</span><span>O</span>
    <span>P</span><span>Q</span>
    <span>R</span><span>S</span>
    <span>T</span><span>U</span>
    <a href="#letter-v" ><span>V</span></a><span>W</span>
    <span>X</span><span>Y</span>
    <span>Z</span>
</div>

{% assign array = section.blocks | map: 'settings' %}
{% assign collection_array = array | map: 'card_collection' | sort %}

{% for block in collection_array %}
  {{block}}<br>
{% endfor %} 

{% assign collection_size = collection_array | size %}
{% assign start_index = 0 %}
{{ collection_size }}

 
    <div class="art-row">
      <div class="art-col" >
        <h3 id="letter-a">A</h3>
        <hr>
        {{start_index}}
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "a" %}
          
            <div class="artist">
                {{  collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              <a class="artist-a" href="{{ block.settings.card_collection.url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="art-col">
        <h3>B</h3>
        <hr>
        {{start_index}}
        
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "b" %}
          
            <div class="artist">
                {{  collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              <a class="artist-a" href="{{ block.settings.card_collection.url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="art-col">
        <h3>C</h3>
        <hr>
        {{start_index}}
        {% for index in (start_index..collection_size) %}
          {% assign first_letter = collection_array[index] | slice: 0 %}
          {% if first_letter == "c" %}
          
            <div class="artist">
                {{  collection_array[index].image.src | image_url: height: 200 | image_tag: class: 'artist-img' }} 
              <a class="artist-a" href="{{ block.settings.card_collection.url }}">
                {{ collection_array[index].title }}
              </a>
            </div>
          {% else %}
            {% assign start_index = index %}
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
    </div>


    <div class="art-row">
      <div class="art-col">
        <h3>D</h3>
        <hr>
        
      </div>


      <div class="art-col">
        <h3>H</h3>
        <hr>
        
      </div>


      <div class="art-col">
        <h3>I</h3>
        <hr>
        
      </div>
    </div>


    <div class="art-row">
      <div class="art-col">
        <h3>J</h3>
        <hr>
        
      </div>
      <div class="art-col">
        <h3>K</h3>
        <hr>
          
      </div>
      <div class="art-col">
        <h3>M</h3>
        <hr>
      
      </div>
    </div>
    
    <div class="art-row">
      <div class="art-col">
        <h3>N</h3>
        <hr>
        
      </div>
      <div class="art-col">
        <h3>P</h3>
        <hr>
    
      </div>

      <div class="art-col">
        <h3>R</h3>
        <hr>
      </div>
    </div>

    <div class="art-row">
      <div class="art-col">
        <h3>S</h3>
        <hr>
      </div>
      <div class="art-col">
        <h3>T</h3>
        <hr>
      </div>
    <div class="art-col" id="letter-v">
      <h3>V</h3>
      <hr>
    </div>
  </div>



<style>

.art-container{
  display:flex;
  flex-direction:column;

  width: 100vw;
  padding: 0px 25px;
}
.alphabet{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.alphabet span{
  width: 30px;
  height: 30px;
  background-color: #44153F;
  color: white;
  border-radius: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin: 3px;
  cursor: pointer;

}

.alphabet span:hover{
  background-color: #f4cb28;
  color: #44153F;
  border-radius: 0px 10px 0px 10px;
  transition: all 0.5s ease-in-out;
}

.art-row{
  background-color: #fff;
  width:100%;
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}
.art-col{
  flex: 1;

}


.artist{
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

hr{
  width: 200px;
}
.artist-img{
  height: 50px;
  width: 51px;
  border-radius: 0px 10px 0px 0px;
  object-fit: cover;
}

.artist-a{
  margin: 10px;
  cursor: pointer;
}

.artist-a:hover{
  font-weight: bold;
}

</style>


<script>
  function gotoSection(i){
    var divs = document.getElementsByClassName('shopify-section');
    divs[4+i].scrollIntoView();
    window.scrollBy(0, -145);
  }
</script>

{% schema %}
  {
    "name": "Alphabetical list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }
    ],
    
    "blocks": [
       {
         "name": "Card",
         "type": "card",
         "settings": [
          {
            "type": "collection",
            "id": "card_collection",
            "label": "Collection"
          }
         ]
       }
    ],
    "presets":[
      {
        "name": "Alphabetical List",
        "settings": {
          "title": "Explore"
        }
      }
    ]
  }
{% endschema %}