<div class="body-review">
  <h2>
    {{ section.settings.title }}
  </h2>
  <div class="container-review">
    <div class="wrapper">
      {% for block in section.blocks %}
        <div class="card">
          <div class="polaroid">
            <a>
              {{ block.settings.personImg | image_url: height: 250 | image_tag: class: 'polaroid-img' }}

              {{ block.settings.personName }}

              <p>{{ block.settings.personLoc }}</p>
            </a>
          </div>
          <div class="cust-review">
            <p class="review-p">

              {{ block.settings.personWords }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="indicators">
      <button class="active"></button>
      <button></button>
      <button></button>
      <button></button>
    </div>
  </div>
</div>

<style>
  .body-review {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #080808;
    flex-direction: column;
  }
  .review-hr {
    width: 89px;
    height: 2px;
    color: black;
  }

  .container-review {
    position: relative;
    width: 1123px;
    min-width: 350px;
    min-height: 250px;
    /* padding-bottom: 40px; */
    overflow: hidden;
  }

  .wrapper {
    width: 400%;
    /* 1card = 100%, then 3card = 300% */
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    transition: 1s;
  }

  .card {
    width: 100%;
    background: #44153F;
    margin: 0 10px;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }

  .polaroid a {
    background: #ffffff;
    display: flex;
    padding: 40px 15px 30px;
    text-align: center;
    text-decoration: none;
    z-index: 0;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    position: relative;
    height: 322px;
    flex-direction: column;
    width: 300px;
    margin: 0 34px;
    justify-content: center;
  }

  .polaroid a:after {
    color: #333;
    font-size: 20px;
    content: attr(title);
    position: relative;
    top: 7px;
  }

  .polaroid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cust-review {
    width: 120%;
    height: auto;
    margin-left: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .review-p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    color: white;
  }

  .indicators {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .indicators button {
    background: none;
    border: none;
    outline: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid grey;
    margin-right: 5px;
    transition: 0.5s;
  }

  button.active {
    width: 40px;
    border-radius: 50px;
    background: grey;
  }
  @media only screen and (max-width: 1050px) {
    .container-review {
      width: 933px;
    }
  }
  @media only screen and (max-width: 850px) {
    .container-review {
      width: 801px;
    }
    .card {
      padding: 51px;
    }
  }
  @media only screen and (max-width: 770px) {
    .container-review {
      width: 775px;
    }

  }
  @media only screen and (max-width: 650px) {
    .container-review {
      width: 566px;
    }
    .card {
      flex-direction: column;
    }
    .review-p {
      padding: 0 41px;
      font-size: 17px;
    }
    .polaroid a {
      padding: 39px 13px 22px;
      height: 238px;
      width: 212px;
    }
  }
  @media only screen and (max-width: 550px) {

    .container-review {
      width: 548px;
    }
    .review-p {
      padding: 0 21px;
      font-size: 13px;
    }
    .polaroid a {
      padding: 39px 13px 22px;
      height: 211px;
      width: 206px;
    }

  }
  @media only screen and (max-width: 430px) {
    .container-review {
      width: 342px;
    }
  }
  @media only screen and (max-width: 420px) {
    .container-review {
      width: 342px;
    }
    .card {
      padding: 24px;
    }
  }
  @media only screen and (max-width: 300px) {
    .container-review {
      min-width: 193px;
      width: 240px;
    }
    .polaroid a {
      margin: 0;
      padding: 34px 13px 18px;
      height: 152px;
      width: 139px;
    }
    .card {
      padding: 24px;
    }
  }
</style>

<script>
  const wrapper = document.querySelector('.wrapper');
  const indicators = [...document.querySelectorAll('.indicators button')];
  let currentTestimonial = 0; // Default Value = 0
  indicators.forEach((item, i) => {
    item.addEventListener('click', () => {
      indicators[currentTestimonial].classList.remove('active');
      wrapper.style.marginLeft = `-${
        100 * i
      }%`;
      item.classList.add('active');
      currentTestimonial = i;
    })
  });
</script>

{% schema %}
  {
    "name": "Testimonial",
    "settings": [],
    "max_blocks": 4,
    "blocks": [
      {
        "name": "Testimonial ",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "personImg",
            "label": "personImg"
          }, {
            "type": "text",
            "id": "personName",
            "label": "personName"
          }, {
            "type": "text",
            "id": "personLoc",
            "label": "personLoc"
          }, {
            "type": "text",
            "id": "personWords",
            "label": "personWords"
          }
        ]
      }
    ]
  }
{% endschema %}