{%- liquid
  assign collection = collections[section.settings.collection]
  
-%}

{% if section.settings.title != blank %}
  <div class="section-title row">
    <h2>
      <a href="{{ collection.url }}">{{ section.settings.title | escape }}</a>
    </h2>
  </div>
  <div class="clear"></div>
{% endif %}
<div class="container-workshop">
  <div class="carousel-workshop" data-flickity='{"wrapAround":true, "cellAlign": "left", "dragThreshold":"15","pauseAutoPlayOnHover":false,"pageDots": false}'>
    {% for product in collection.products %}
      <div class="carousel-cell-workshop">
        {% render 'product-listing-memeraki-workshop', collection: collection, product: product %}

        {% comment %} {% if product.images[1] != nil %}
        <div class="workshop-img">
        {{ product.images[1] | image_url: height: 250 | image_tag: class: 'img-w' }}
        {% else %}
        <div class="workshop-img">
        <div class="img-w">

        </div>
        {% endif %}
        <p class="title-w">
        {{ product.title }}
        </p>
        <p class="date-w">
        Monday, 23 Jan 2023
        </p>
        <div class="img-name">
        <div class="img-inside">

        {{ collections[artist_handle] | image_url: height: 50 | image_tag: class: 'img-inside-img' }}
        </div>
        <p class="artist-w">
        {{ artist_name }}
        </p>
        </div>
        <button class="button-w" onclick='window.location.href="{{ product.url }}"'>Enroll Now</button>
        </div>{% endcomment %}
      </div>
    {% endfor %}
  </div>
</div>


<style>

  .container-workshop {
    position: relative;
    width: 100%;
    min-width: 350px;
    min-height: 250px;
    padding: 0 40px;
    overflow: hidden;
  }


  .carousel-cell-workshop {
    width: 24%;
    height: 92vh;
    margin-right: 10px;

  }
  @media only screen and (max-width: 1600px) {
    .container-workshop {
      height: 602px;
    }
  }

  @media only screen and (max-width: 1050px) {
    .carousel-cell-workshop {
      width: 33.3%;
    }
  }

  @media only screen and (max-width: 950px) {
    .carousel-cell-workshop {
      width: 50%;
      height: 65vh;
      margin: 0 10px;
    }
  }
  @media only screen and (max-width: 900px) {
    .carousel-cell-workshop {
      width: 40%;

    }
  }
  @media only screen and (max-width: 700px) {
    .carousel-cell-workshop {
      width: 50%;

    }
  }

  @media only screen and (max-width: 550px) {

    .container-workshop {
      padding: 10px;
    }
    .carousel-cell-workshop {
      width: 85%;
      height: 81vh;
      margin: 0 10px;
    }
  }
</style>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "id": "carousel",
        "type": "checkbox",
        "label": "Display in carousel"
      }, {
        "type": "range",
        "id": "grid",
        "min": 2,
        "max": 5,
        "step": 1,
        "label": "Products per row",
        "default": 4
      }, {
        "type": "range",
        "id": "limit",
        "min": 2,
        "max": 30,
        "step": 1,
        "label": "Products shown",
        "default": 8
      }, {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "options": [
          {
            "value": "none",
            "label": "None"
          }, {
            "value": "cs1",
            "label": "1"
          }, {
            "value": "cs2",
            "label": "2"
          }, {
            "value": "cs3",
            "label": "3"
          }
        ],
        "default": "none"
      }, {
        "type": "select",
        "id": "section_padding",
        "label": "Section spacing",
        "options": [
          {
            "value": "top",
            "label": "Top"
          }, {
            "value": "bottom",
            "label": "Bottom"
          }, {
            "value": "both",
            "label": "Both"
          }, {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "both"
      }
    ],
    "presets": [
      {
        "name": "Featured collection"
      }
    ],
    "templates": [
      "404",
      "article",
      "blog",
      "cart",
      "collection",
      "list-collections",
      "index",
      "page",
      "product",
      "search",
      "customers/account"
    ]
  }
{% endschema %}