{%- liquid
  if section.settings.set_manually == true
    assign artist_name = section.settings.artist_collection.title
    assign artist_handle = section.settings.artist_collection.handle
    assign artist_url = section.settings.artist_collection.url
  else
    assign artist_name = product.metafields.Instructor.name.value
    assign artist_handle = product.metafields.Instructor.name.value | downcase | replace: ' ', '-'
    assign artist_url = collections[artist_handle].url
  endif
  assign a = 0
-%}

{% if artist_url != '' %}
  {% for collection in product.collections %}
    {% if collection.title == 'MEMERAKI MASTERCLASSES' %}
      <section>
        <br>
        <h2 class="section-title" style="text-align: left; text-decoration: none">Artist</h2>
        <div style="align-content: center;" class="Instructor__container">
          <a href="{{ artist_url }}">
            <img
              loading="lazy"
              style="width: 200px; height: 200px;"
              height="300"
              width="300"
              class="container__image"
              src="{{ collections[artist_handle] | image_url: height: 600 }}"
            >
          </a>
          <div class="container__text">
            <br>
            <a href="{{ artist_url }}">
              <h2>{{ product.metafields.Instructor.name.value }}</h2>
            </a>
            {{ collections[artist_handle].description }}
            {% if section.settings.show_button == true %}
              <br>
              <br>
              <button style=" justify-content: center; width: auto; border-radius: 22px; margin: 0 auto;">
                <a style="color: white; text-decoration: none; margin: 10px;" href="{{ artist_url }}">
                  More From {{ artist_name -}}
                </a>
              </button>
            {% endif %}
          </div>
        </div>
      </section>
      {% assign a = 1 %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% if a == 0 %}
    <section>
      <br>
      <h2 class="section-title" style="text-align: center; text-decoration: none">Artist</h2>
      <div style="align-content: center;" class="Instructor__container">
        <a href="{{ artist_url }}">
          <img
            loading="lazy"
            style="height:300px;width:300px"
            height="300"
            width="300"
            class="container__image"
            src="{{ collections[artist_handle] | image_url: height: 600 }}"
          >
        </a>
        <div class="container__text">
          <a href="{{ artist_url }}">
            <br>
            <h2>{{ product.metafields.Instructor.name.value }}</h2>
          </a>
          {{ collections[artist_handle].description }}
          {% if section.settings.show_button == true %}
            <br>
            <br>
            <button style=" justify-content: center; width: auto; border-radius: 22px; margin: 0 auto;">
              <a style="color: white; text-decoration: none; margin: 10px;" href="{{ artist_url }}">
                More From {{ artist_name -}}
              </a>
            </button>
          {% endif %}
        </div>
      </div>
    </section>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Instructor Bio",
  "settings": [
    {
      "type": "checkbox",
      "id": "set_manually",
      "label": "Set Artist Collection Manually",
      "default": false
    },
    {
      "type": "collection",
      "id": "artist_collection",
      "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show Explore More Button",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Instructor-Bio"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .section {
    padding: 10%;
    margin-left: 15%;
  }

  .Instructor__container {
    padding: 20px 35px 40px;
  }


  @media screen and (min-width: 769px) {
    .Instructor__container{
      margin-left: 4%;
    }
    .container__image {
      display: inline-block;
      vertical-align: top;
      border-radius: 50%;
    }
    .container__text {
      display: inline-block;
  	margin-left: 50px;
      width: 49%;
    }
   }

   @media screen and (max-width: 768px) {
     .container__image {
       display: block;
       margin-left: auto;
       margin-right: auto;
       border-radius: 50%;
     }
     .container__text {
       justify-content: center;
       text-align: center;
     }
  }
{% endstylesheet %}
