{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "pageDots": true,
  "draggable": true,
  "contain": true,
  "freeScroll": true,
  "cellAlign": "left",
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

<Section>
  <div class="cards-heading">
    <h1>Top Artists</h1>
    <a href="https://www.memeraki.com">
      <h4 style='color: #f4cb28'>View All</h4>
    </a>
  </div>

  <div class=" thumbnail-container js-flickity" data-flickity='{{ flickity_options }}'>
    {% for block in section.blocks %}
      {{block.settings.collection.image}}
      <div class="carousel-cell thumbnail-card">
        <a href="{{ block.settings.collection.url }}">
          <div class="thumbnail">
            {{ block.settings.collection.card_collection.featured_image.src | image_url: height: 600 | image_tag }}
        </div>
        <div class="thumbnail-name">
            <h3>{{ block.settings.card_collection.title }}</h3>
        </div>  
        </a>
      </div>
    {% endfor %}

      {% comment %} <div class="carousel-cell thumbnail-card">
        <a href="{{ product.url | within: collection }}">
          <div class="thumbnail">
            <img loading="lazy" src="http://cdn.shopify.com/s/files/1/1194/1498/collections/adarsh-310550_900x.jpg?v=1661325700" width="auto" height="100" alt="" >
        </div>
        <div class="thumbnail-name">
            <h3>Adarsh</h3>
        </div>  
        </a>
      </div> 

      <div class="carousel-cell thumbnail-card">
        <a href="{{ product.url | within: collection }}">
          <div class="thumbnail">
            <img loading="lazy" src="http://cdn.shopify.com/s/files/1/1194/1498/collections/apindra-swain-780772_900x.jpg?v=1661325715" width="auto" height="100" alt="" >
        </div>
        <div class="thumbnail-name">
            <h3>Apindra Swain</h3>
        </div>  
        </a>
      </div> 

      <div class="carousel-cell thumbnail-card">
        <a href="{{ product.url | within: collection }}">
          <div class="thumbnail">
            <img loading="lazy" src="http://cdn.shopify.com/s/files/1/1194/1498/collections/ashutosh-verma-987942_900x.jpg?v=1661325726" width="auto" height="100" alt="" >
        </div>
        <div class="thumbnail-name">
            <h3>Ashutosh Verma</h3>
        </div>  
        </a>
      </div>  

      <div class="carousel-cell thumbnail-card">
        <a href="{{ product.url | within: collection }}">
          <div class="thumbnail">
            <img loading="lazy" src="http://cdn.shopify.com/s/files/1/1194/1498/collections/abdul-salim-965575_900x.jpg?v=1661325694" width="auto" height="100" alt="" >
        </div>
        <div class="thumbnail-name">
            <h3>Abdul Salim</h3>
        </div>  
        </a>
      </div>  

      <div class="carousel-cell thumbnail-card">
        <a href="{{ product.url | within: collection }}">
          <div class="thumbnail">
            <img loading="lazy" src="http://cdn.shopify.com/s/files/1/1194/1498/collections/bapi-chitrakar-377237_900x.jpg?v=1661325735" width="auto" height="100" alt="" >
        </div>
        <div class="thumbnail-name">
            <h3>Bapi Chitrakar</h3>
        </div>  
        </a>
      </div>  

      <div class="carousel-cell thumbnail-card">
        <a href="{{ product.url | within: collection }}">
          <div class="thumbnail">
            <img loading="lazy" src="http://cdn.shopify.com/s/files/1/1194/1498/collections/chandrakant-bhulabhai-mata-ni-pachedi-artist-844377_900x.jpg?v=1661325743" width="auto" height="100" alt="" >
        </div>
        <div class="thumbnail-name">
            <h3>Chandrakant Bhulabhai</h3>
        </div>  
        </a>
      </div>  

      <div class="carousel-cell thumbnail-card">
        <a href="{{ product.url | within: collection }}">
          <div class="thumbnail">
            <img loading="lazy" src="http://cdn.shopify.com/s/files/1/1194/1498/collections/chetan-gangavane-149461_900x.jpg?v=1661325750" width="auto" height="100" alt="" >
        </div>
        <div class="thumbnail-name">
            <h3>Chetan Gangavane</h3>
        </div>  
        </a>
      </div>  

      <div class="carousel-cell thumbnail-card">
        <a href="{{ product.url | within: collection }}">
          <div class="thumbnail">
            <img loading="lazy" src="http://cdn.shopify.com/s/files/1/1194/1498/collections/daya-ben-418296_900x.jpg?v=1661325769" width="auto" height="100" alt="" >
        </div>
        <div class="thumbnail-name">
            <h3>Daya Ben</h3>
        </div>  
        </a>
      </div>   {% endcomment %}

      <div class="carousel-cell thumbnail-card">
        <a href="{{ product.url | within: collection }}">
          <div id="last-card" class="thumbnail">
            <h3 style="color: white;">More Artists</h3>
          </div>  
        </a>
      </div>  
      
  </div>

  
</Section>

<style>
  .flickity-page-dots {
    bottom: -22px;
  }

  /* dots are lines */
  .flickity-page-dots .dot {
    height: 4px;
    width: 20px;
    margin: 0;
    border-radius: 0;
  }

  .shopify-section-thumbnail-cards{
    margin: 10px 20px 50px 20px;

    padding-left: 30px;

  }

  #last-card{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards-heading > h1{
      display: inline;
      width: 100%;
  }
  .cards-heading > a {
      float: right;
      display: inline;
  }
  .thumbnail-container{
      margin-top: 20px;;   
  }

  .thumbnail-card{
      margin-right: 45px;
      margin-top: 10px;
  }

  .thumbnail-card > a{
      text-decoration: none;
      color: black;
      
  }

  .thumbnail{
      background-color: #411e2f;
      height: 200px;
      width: 200px;
      max-height: 200px;
      max-width: 200px;
      border-radius: 0px 35px 0px 0px;
  }

  .thumbnail > img{
      width: 100%;
      height: 100%;
      border-radius: 0px 30px 0px 0px;
  }

  .thumbnail > div > h3{
    color: white;
    margin: 20% 20%;
  }

  

</style>

{% schema %}
  {
    "name": "Thumbnail Cards",
    "class": "shopify-section-thumbnail-cards",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "url",
        "id": "view_all_url",
        "label": "View All URL"
      }
    ],
    "max_blocks": 10,
    "blocks": [
       {
         "name": "Card",
         "type": "card",
         "settings": [
           {
             "type": "image_picker",
             "id": "card_image",
             "label": "Image"
           },
           {
            "type": "text",
            "id": "card_title",
            "label": "Title"
          },
          {
            "type": "collection",
            "id": "card_collection",
            "label": "Collection"
          }
         ]
       }
    ],
    "presets":[
      {
        "name": "Thumbnail Cards",
        "settings": {
          "title": "Explore By"
        }
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %} 