{%- capture flickity_options -%}
{
  "prevNextButtons": {{ section.settings.enable_nav_arrows }},
  "pageDots": {{ section.settings.enable_nav_bar }},
  "imagesLoaded": true,
  "draggable": true,
  "contain": true,
  "freeScroll": true,
  "cellAlign": "left",
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

{%-liquid 
  
  case section.settings.card_size 
   when 'small'
      assign height = '150px' 
      assign width = '150px' 
      assign space = '20px' 
   when 'mid'
      assign height = '200px' 
      assign width = '200px' 
      assign space = '30px' 
   when 'large'
      assign height = '250px' 
      assign width = '250px' 
      assign space = '30px' 
endcase -%}

<Section>
  <div class="cards-heading">
    <h1 class="">{{ section.settings.title }}</h1>
    {% if section.settings.enable_view_all_top == true %}
    <a href="{{ section.settings.view_all_url }}">
      <h4 style='color: #f4cb28'>View All</h4>
    </a>
    {% endif %}
  </div>

  <div class="thumbnail-container js-flickity" data-flickity='{{ flickity_options }}' style='width: 100%'>

    {% for block in section.blocks %}
      {%-liquid
        if block.settings.use_custom_block_url == true
          assign block_url = block.settings.block_url
        else
          assign block_url = block.settings.card_collection.url
        endif
      -%}
      <div class="carousel-cell thumbnail-card " style="">
        <a href="{{ block_url }}">
          <div style=" {% if block.settings.transparent_bg == false %} background-color:  {{ block.settings.css_color_val }};{% endif %} " class="thumbnail liquid-dimensions">
              {% case block.settings.use_custom_image %}
                {% when "collection_image" %}
                  {{ block.settings.card_collection.image.src | image_url: height: 600 | image_tag: class: 'lazyload-fade lazyautosizes lazyloaded' }}
                {% when "cdn_image" %}
                  {{ block.settings.card_img | image_url: height: 600 | image_tag: class: 'lazyload-fade lazyautosizes lazyloaded' }}
              {% endcase %}
        </div>

        <div class="thumbnail-name">
            {% if block.settings.use_custom_label == true %}
              <p>{{ block.settings.custom_label }}</p>
            {% else %}
              <p>{{ block.settings.card_collection.title }}</p>
            {% endif %}
        </div> 

        </a>
      </div>
    {% endfor %}

    {% if section.settings.enable_view_all == true %} 
      <div class="carousel-cell thumbnail-card">
        <a href="{{ section.settings.view_all_url }}">
          <div id="last-card" style="background-color: {{ block.settings.css_color_val }};" class="thumbnail liquid-dimensions">
            <h3 style="color: white;">{{ section.settings.last_card }}</h3>
          </div>  
        </a>
      </div>  
    {% endif %}  
  </div>
</Section>

<style>
  .flickity-page-dots {
    bottom: 55px;
  }

  /* dots are lines */
  .flickity-page-dots .dot {
    height: 4px;
    width: 20px;
    margin: 0;
    border-radius: 0;
  }

  .shopify-section-thumbnail-cards{
    margin: 50px 80px 50px 80px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0px;
  }

  .liquid-dimensions{
    width: {{ width }};
    height: {{ height }};
  }

  .liquid-spacing{
    {% comment %} margin-right: {{ space }}; {% endcomment %}
    width: {{ width }};
  }
  
  .thumbnail-container{
    margin-top: 20px;
    {% comment %} height: 300px; {% endcomment %}
  }

  #last-card{
    background-color: #411e2f;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards-heading > h1{
      display: inline;
      width: 100%;
      font-size: large;
  }

  .cards-heading > a {
      float: right;
      display: inline;
  }
  
  .thumbnail-card{
      margin-top: 10px;
  }

  .thumbnail-card > a{
      text-decoration: none;
      color: black;   
  }

  .thumbnail{
      border-radius: 0px 35px 0px 0px;
      overflow: hidden;
  }

  .thumbnail-name{
    max-width: 150px;
    overflow: hidden;
  }

  .thumbnail > img{
      width: 100%;
      height: 100%;
      border-radius: 0px 30px 0px 0px;
  }

  .thumbnail > div > h3{
    color: white;
    margin: 20% 20%;
  }

  @media screen and (min-width: 1220px) {
    

  }

  @media screen and (min-width: 980px) {
    .shopify-section-thumbnail-cards {
      margin: 25px 0px 10px 0px;
    }
    
    .thumbnail{
      height: 150px;
      width: 150px;
    }

    .thumbnail-card{
      margin-right: 30px;
    }

    .shopify-section-thumbnail-cards{
      padding-left: 10%;
      padding-right: 10%;
    }

  }

  @media screen and (max-width: 979px) {
    .shopify-section-thumbnail-cards{
      margin: 10px 0px 10px 0px;
    }

    .thumbnail-container {
      margin-top: 10px;
    }

    .thumbnail{
      height: 100px;
      width: 100px;
    }

    .thumbnail-card{
      margin-right: 15px;
    }

    .thumbnail-name{
      max-width: 99px;
    }

    .flickity-page-dots{
      display: none;
    }

    .flickity-button{
      display: none;
    }
  }

  @media screen and (max-width: 680px){
    .cards-heading{
      flex-flow: column;
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
    }

    .cards-heading > h1 {
      text-align: center;
    }
  }
  
</style>

{% schema %}
  {
    "name": "Thumbnail Cards",
    "class": "shopify-section-thumbnail-cards",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "last_card",
        "label": "Last Card Text"
      },
      {
        "type": "checkbox",
        "id": "enable_view_all_top",
        "label": "Show View All at the Top",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_view_all",
        "label": "Show View More Card at the End"
      },
      {
        "type": "url",
        "id": "view_all_url",
        "label": "View All URL"
      },
      {
        "type": "checkbox",
        "id": "enable_nav_arrows",
        "label": "Show Navigation Arrows",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_nav_bar",
        "label": "Show Navigation Bar at Bottom",
        "default": true
      },
      {
        "type": "radio",
        "id": "card_size",
        "label": "Card Size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "mid",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      }
    ],
    "max_blocks": 10,
    "blocks": [
       {
         "name": "Card",
         "type": "card",
         "settings": [
          {
            "type": "collection",
            "id": "card_collection",
            "label": "Collection"
          },
          {
            "type": "radio",
            "id": "use_custom_image",
            "label": "Use Custom Image",
            "options": [
              {
                "value": "collection_image",
                "label": "Collection Image"
              },
              {
                "value": "cdn_image",
                "label": "Upload Image"
              },
              {
                "value": "css_color",
                "label": "Define CSS Color"
              }
            ],
            "default": "collection_image"
          },
          {
            "type": "color",
            "id": "css_color_val",
            "label": "Pick CSS Color ",
            "default": "#411e2f"
          },
          {
            "type": "image_picker",
            "id": "card_img",
            "label": "Select Card Image"
          },
          {
            "type": "checkbox",
            "id": "transparent_bg",
            "label": "Make Background Transparent",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "use_custom_label",
            "label": "Use Custom Label",
            "default": false
          },
          {
            "type": "text",
            "id": "custom_label",
            "label": "Custom Label"
          },
          {
            "type": "checkbox",
            "id": "use_custom_block_url",
            "label": "Use a Custom URL",
            "default": false
          },
          {
            "type": "url",
            "id": "block_url",
            "label": "Custom URL"
          }
          
         ]
       }
    ],
    "presets":[
      {
        "name": "Thumbnail Cards",
        "settings": {
          "title": "Explore By"
        }
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %} 