<div class="body-workshop">
  <div class="container-workshop">
    <div class="carousel-workshop" data-flickity='{"wrapAround":true, "cellAlign": "left", "dragThreshold":"15","pauseAutoPlayOnHover":false,"pageDots": false}'>
      {% for product in collection.products %}
        <div class="carousel-cell-workshop">
          <div class="workshop-img">
            {{ block.settings.eventimg | image_url: height: 250 | image_tag: class: 'img-w' }}
            <p class="title-w">
              {{ block.settings.eventname }}
            </p>
            <p class="date-w">
              {{ block.settings.eventdate }}
            </p>
            <div class="img-name">
              {{ block.settings.eventpersonImg | image_url: height: 50 | image_tag: class: 'img-inside-img' }}
              <p class="artist-w">
                {{ block.settings.eventpersonName }}
              </p>
            </div>
            <button class="button-w">Enroll Now</button>

          </div>
        </div>
      {%endfor%}
    </div>
  </div>
</div>

<style>
  .body-workshop {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #080808;
    flex-direction: column;
    margin: 50px 0;
  }

  .container-workshop {
    position: relative;
    width: 100%;
    min-width: 350px;
    min-height: 250px;
    padding: 10px;
    overflow: hidden;
  }


  .carousel-cell-workshop {
    width: 28%;
    height: 84vh;
    margin-right: 10px;
    background: linear-gradient(180deg, rgba(244,203,40,100) 1%, rgba(65,30,47,1) 90%);
    border-radius: 25px;
  }
  .img-w {
    height: 250px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  img.img-inside-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  p.title-w {
    color: white;
    font-size: 16px;
    font-weight: bolder;
    margin: 0 10px;
  }
  p.date-w {
    font-size: 14px;
    color: #f4cb28;
    font-weight: bolder;
    margin: 10px 12px;
  }
  .img-name {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  p.artist-w {
    margin: 0 10px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
  }
  .button-w {
    background-color: #f4cb28;
    color: white;
    font-weight: bolder;
    border-radius: 0 0 25px 25px;
    border-style: none;
    margin-top: 19px;
  }
  @media only screen and (max-width: 950px) {
    .carousel-cell-workshop {
      width: 50%;
      height: 65vh;
      margin: 0 10px;
    }
  }
  @media only screen and (max-width: 550px) {

    .container-workshop {
      padding: 10px;
    }
    .carousel-cell-workshop {
      width: 85%;
      height: 84vh;
      margin: 0 10px;
    }
  }
</style>

{% schema %}
  {
    "name": "Workshops",
    "settings": [],
    "max_blocks": 15,
    "blocks": [
      {
        "name": "Workshops",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "eventimg",
            "label": "eventimg"
          },

          {
            "type": "image_picker",
            "id": "eventpersonImg",
            "label": "eventpersonImg"
          },
          {
            "type": "text",
            "id": "eventpersonName",
            "label": "eventpersonName"
          },
          {
            "type": "text",
            "id": "eventdate",
            "label": "eventdate"
          }, {
            "type": "text",
            "id": "eventname",
            "label": "eventname"
          }
        ]
      }
    ]
  }
{% endschema %}